* {
    font-family: 'Roboto', sans-serif;
}
.header {
  font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-top: 120px;
    text-align: center;
    color: #383838;
}
.header::after {
    content: "";
    display: block;
    height: 4px;
    width: 100px;
    margin: 20px auto 80px;
    background-color: #F5BD41;
}
.container {
    max-width: 1266px;
    padding: 120px 16px;
    margin: 0 auto;
}
.Block {
    display: flex;
    justify-content: space-between;

}
.item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 100px;
}
.img-wrap img{
    max-width: 100%;
}
.text_icon {
    margin: 48px;
}
.text_icon{
    color: #383838;
    font-size: 24px;
    text-align: center;
    font-style: normal;
}
.containerHotel{
    width: 1266px;
    padding: 120px 16px;
    margin: 0;
    background-color: #EAF0F9;
}
.header-h2{
    text-align: center;
    color: #383838;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}
.Block2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.item1 {
    max-width: 25%;
}
.img-wrap1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 295px;
    height: 295px;
    margin-top: 105px;
}
.img-wrap1 img{
    max-width: 100%;
}
.text_icon2{
    text-align: left;
    font-style: normal;
    margin-bottom: 12px;
    color: #3077C6;
    font-size: 24px;
}
.text_icon3{
    text-align: left;
    font-style: normal;
    margin-top: 12px;
    color: #BFBFBF;
    font-size: 24px;
}
