* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.offer{
    padding: 120px 0;
}
.img_height{
    height: 100px;
}
.section-title {
    /*margin: 0 104px*/
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #383838;
}
.LineOrange {
    border: none;
    height: 4px;
    width: 100px;
    margin: 20px auto 80px;
    background-color: #F5BD41;
}
.container {
    max-width: 1264px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}
.Block {
    display: flex;
    justify-content: space-around;
}
.item {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;

}
.img-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text_icon{
    color: #383838;
    font-size: 24px;
    font-style: normal;
    margin-top: 48px;
}
/*2 блок*/
/*.item:lastchild{
    margin-right: 0;
}*/
.Home{
    padding: 120px 0;
}
.img_card{
    width: 295px;
    height: 295px;
    margin-top: 105px;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.Home {
    background-color: #EAF0F9;
}
.text_icon2{
    text-align: left;
    margin-top: 24px;
    margin-bottom: 12px;
    color: #3077C6;
    font-size: 24px;
}
.text_icon3{
    text-align: left;
    margin-top: 12px;
    color: #BFBFBF;
    font-size: 24px;
}
